body {
  padding-top: 90px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
	cursor: pointer;
}

.navbar-brand {
  line-height:12px;
  padding-top:20px;
  padding-bottom:5px;
}

.navbar-brand small {
  display:block;
  font-size:10px;
}

.bg-primary {
	padding:10px;
}

#locations-table small {
	display:block;
}

#locations-table tbody td.location-item {
	cursor: pointer;
}

#location-form div.row {
	padding-bottom: 10px;
}

#map-canvas {
	margin-top:50px;
	height:400px;
	width:100%;
}

.angular-google-map-container { 
	height: 400px; 
	margin-top:30px;
}

#new-location-btn {
	margin-top: 22px;
}

@media (min-width: 768px) {
	body {
		padding-top: 60px;
	}
}